body,html {
  height: 100%;
  margin: 0;
  background-color: white;
}
span{
font-style: initial;
}
.logo{
float: left;
padding: 15px 0 0 25px;
}
.pull-right{
margin: 0 16px;
}
p{
font-size: 14px;
letter-spacing: 0;
margin: 0 16px;
font-weight: 600;
}
.bg
{
height:100vh;
width:100%;
background: url(/assets/WICKED.png);/* no-repeat center center fixed;*/
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}


/* .bounce {
 
   margin-right: 20px;
} */
#content {
margin: auto;
text-align: center;
display: flex;
padding: 0 6% 0 7%;
}
.text-white b{
text-align: center;
font-size: 35px;
font-weight: bold;
margin-right: 10%;
color: whitesmoke;
}
.text-white h6{
margin: 3% 15%;
font-size: 20px;
font-weight: normal;
text-align: center;
color:whitesmoke;
}
.circle {
width: 350px;
height: 320px;
background-color: #fafafa;
box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.16);
font-size: 16px;
font-weight: 700;
margin: 0 10px 40px;
border-radius: 15px;
z-index:1;
}
.circle img{
height: 150px;
border-radius: 15px;
margin-top: 5%;
}
.close-button{
  position: absolute;
  background: cornflowerblue;
  color: wheat;
  border-radius: 50%;
  border: none;
  right: -4px;
  z-index: 999;
  padding: 4px 10px;
}
.circle-img1{
  /* -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0.66, 0, 1); */
  /* transform: translateY(-50px); */
  /* -webkit-animation: bounce 1.5s infinite; */
  animation: bounce1 1s ease-in-out 0.66s infinite;
  width: 70px;
}

@keyframes bounce1 {
  0%,100%{
      transform: translateY(0);
      opacity: 0.9;
  }
  25%{
      /* background: orangered; */
      /* opacity: 0.6; */
  }
  50%{
      transform: translateY(-30px);
      opacity: 1;

  }
}
.circle h6{
font-size: 15px;
padding: 10px;
line-height: 1.3;
}
.feedback {
font-size: 14px;
color: #b1b1b1;
}

.mytext{
  border:0;
  padding:10px;
  background:whitesmoke;
}
.text{
  width:75%;
  display:flex;
  flex-direction:column;
}
.text > p:first-of-type{
  width:100%;
  margin-top:0;
  margin-bottom:auto;
  line-height: 13px;
  font-size: 12px;
}
.text > p:last-of-type{
  width:100%;
  text-align:right;
  color:black;
  margin-bottom:-7px;
  margin-top:auto;
}
.text-l{
  float:left;
  padding-right:10px;
  color: black;
  font-weight: 500;
}
.text-r{
  float:right;
  padding-left:10px;
  color:white;
  font-weight: 500;
}
.avatar{
  display:flex;
  justify-content:center;
  align-items:center;
  max-width: 75%;
  width: auto;
  float:left;
  padding-right:10px;
}
.macro{
  margin-top:17px;
  max-width: 75%;
  width: auto;
  border-radius:5px;
  padding:2px 5px;
  display:flex;
}
.msj-rta{
  float:right;
  background:transparent;
  background-color:#A0650B;
  position: relative;
  color:white;
}
.tri-right.left-top:after{
content: ' ';
position: absolute;
width: 0;
height: 0;
right: -12px;
left: auto;
top: 0px;
bottom: auto;
border: 12px solid;
border-color: #A0650B transparent transparent transparent;
}


.msj{
  float:left;
  background:#F2F4E2;
  position: relative;
}
.tri-right.right-top:after{
content: ' ';
position: absolute;
width: 0;
height: 0;
left:-12px;
right: auto;
top: 0px;
color:white;
bottom: auto;
border: 12px solid;
border-color: #F2F4E2 transparent transparent transparent;
}
.frame{
  background:whitesmoke;
  height:560px;
  padding:0;
  width: 400px;
  position:fixed;
  bottom:10px;
  right:20px;
  /* top: 0; */
  /* overflow-y: scroll; */
  background-color: #fafafa;
  box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  animation: myfirst1 5s ;

  }
  @keyframes myfirst1 {
      0%   {background:transparent; right: 20px; bottom:50%;}
      25% {background:whitesmoke; right: 20px; bottom: 10px;}
  }

.frame > div:last-of-type{
  position:absolute;
  bottom:0px;
  /* width:100%; */
  width: 350px;
  display:flex;
  padding: 0px;
  margin-left: 10px;
  border-radius: 100px;
  background-color: white;


}

ul {
  width:100%;
 /* max-height:375px;*/
  top:0;
  list-style-type: none;
  overflow-y: scroll;
  /*padding:3% 3% 10% 3%;*/
  padding: 18px;
  position:absolute;
  bottom:40px;
  display:flex;
  flex-direction: column;
  /* background-color: #F3E7E5; */
  border: 2px solid lightblue;
  border-radius: 15px;
  /* background-image: url("assets/abs.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.pinimg.com/236x/98/da/8f/98da8f9306de27424460d16e53938b72.jpg");
}
.msj:before{
  width: 0;
  height: 0;
  content:"";
  top:-5px;
  left:-14px;
  position:relative;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent transparent transparent transparent;
}
.msj-rta:after{
  width: 0;
  height: 0;
  content:"";
  top:-5px;
  left:14px;
  position:relative;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: transparent transparent transparent transparent;
}
input:focus{
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:black;
}
::-moz-placeholder { /* Firefox 19+ */
  color:black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}
.textButton
{
position:relative;
padding: auto;
margin: auto;
background: normal;
}
.trading-assist{
position: absolute;
bottom:2%;
right:20px;
:active{
  display:none;
}
}
/* .btn-deep-orange:not([disabled]):not(.disabled).active, .btn-deep-orange:not([disabled]):not(.disabled):active,
.btn-deep-orange:not([disabled]):not(.disabled).focus, .btn-deep-orange:not([disabled]):not(.disabled):focus{
animation: myfirst2 5s ;
position:fixed;
bottom:80%;
right:20px;

}
@keyframes myfirst2 {
0%   {background:transparent; right: 20px; bottom:10px;}
25% {background:whitesmoke; right: 20px; bottom: 80%;}
} */
.text-type{
float: left;
padding: 3px 0 0 0;
}
.text-mike{
  float: right;
  margin-top: -19px;
  background: #90C07F;
  border-radius: 17px;
  width: 30px;
  height: 30px;
  padding: 4px;
  color: white;
}
.bg-screen{
  text-align:center;
  padding :3% 0 0 0;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 300px) and (max-width: 767px) {
  .logo{
    height: 61px;
    padding: 8px;
  }
  .bg-screen{
    padding: 17% 0 0 0;
    text-align: center;
    margin: 0px;
  }
  .circle {
    width: 96%;
    height: 350px;
    z-index:0;
  }
  .text-white b{
    margin: 0px;
  }
  .text-white h6{
    margin: 2% 2% 12% 2%;
  }
  .bg{
    height: 100%;
  }
  .trading-assist{
    position: fixed;
  }
  .frame{
    height: 502px;
    padding: 0;
    width: 89%;
    position: fixed;
    bottom: 10px;
    right: 5%;
  }
  .frame > div:last-of-type{
    width: 94%;
  }
  .micro{
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .text-white b{
    font-size: 45px;
  }
  .text-white h6{
    margin: 3% 10% 10% 10%;
    font-size: 30px;
    line-height: 1;
  }
  .flex-container{
    justify-content: center;
    align-items: center;
  }
  .circle{
    width: 400px;
    height: 430px;
  }
  .circle h6{
    font-size: 21px;
  }
  .frame{
    height: 900px;
    padding: 0;
    width: 94%;
    position: fixed;
    bottom: 10px;
    right: 12px;
  }
  .frame > div:last-of-type{
    width: 98%;
  }
}