<html >
  <head>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' id='bootstrap-css'>
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- material design lite  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="bg img-fluid" >
      <div> 
        <img class="logo" style="z-index:1" src="assets/logo.png">
      </div> 
      <div class="bg-screen">
        <span class="display-3 text-white">
          <b> E-Learning </b><br/>
          <h6> We understand the importance of instructors for any training and our experienced instructors are backbone of our training programs. We have a team of well-experienced and dedicated instructors to ensure the highest quality of training. Trainers' commitment towards their jobs makes our training sessions more full of knowledge, interactive, and fun.</h6>
        </span>
        <div>
          <!-- <button (click) = "ToggleWindow()" class="btn btn-rounded btn-floating btn-deep-orange btn-lg hoverable trading-assist bounce" id="sample"  data-toggle="tooltip" data-placement="bottom" title="Try it out by clicking on it" style="z-index:1">
            <strong> Talk to me ...</strong>
          </button> -->
          <img class="circle-img1 trading-assist "  (click) = "ToggleWindow()" src="assets/gg.png" id="sample"  data-toggle="tooltip" data-placement="bottom" title="Chat with me !" style="z-index:1">
        </div>
      </div>
      <div id="content" class="flex-container">
        <div class="circle ">
          <img class="circle-img" src="assets/agile.jpg">
          <h6 style="color:black">The Agile Scrum master training and certification helps professionals to achieve their career objectives. The course is more suitable for Project Managers and Team Leaders, Managers of Scrum teams.</h6>
        </div>
        <div class="circle ">
          <img class="circle-img" src="assets/pmp.jpg">
          <h6 style="color:black">The PMI-ACP training includes different areas of agile like Scrum, Lean, Kanban, test-driven development (TDD) and extreme programming (XP), which help you to grow as versatile agile professional.</h6>
        </div>
        <div class="circle ">
          <img class="circle-img" src="assets/elearn.jpg">
          <h6 style="color:black">We give 100% assurance that you will walk away with all the advanced knowledge, preparation, and confidence to clear the CSM certification exam in first attempt and be a part of the Certified Scrum Master® global platform.</h6>
        </div>
      </div>

      <div class=" col-sm-4  col-md-6 col-sm-offset-4 frame myclass" *ngIf="showWindow" style="z-index:1">
          <button type="button" (click) = "ToggleWindow()" class="close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div  >
        <ul #scroller id="ChatList" style="margin-bottom: 0" class="uli">
          <div *ngFor="let message of messages" id="ForLoop">
            <li *ngIf="message.id == 'usr'" style="width:100%">
              <div class="msj-rta macro tri-right left-top">
                <div class="text-r " style="width:100%;">
                  <p class=" pull-right">{{message.text}}</p>
                </div>

              </div>
            </li>
            <!-- <i class="fa fa-spinner fa-spin" id="spin-time" style="font-size:44px"></i> -->


            <li *ngIf="message.id== 'bot'" style="width:100%">
              <div class="msj macro tri-right right-top">
                <div class="text-l">
                  <p class="text-justify " style="max-width:75%; text-align:left">{{ message.text }}</p>
                  <p class="text-justify " style="max-width:75%; text-align:left"><a href="{{ message.text2 }}" target="_blank">{{ message.text2 }}</a></p>
                  <input type="hidden" #textbox1 class="border-input form-control" value="{{message.text}}" readonly>
                  <div class="text-center">
                    <a><img (click)="TextToSpeechMethod(textbox1.value)" src="https://www.shareicon.net/download/2015/08/01/78337_music_512x512.png"
                      style="width: 15px;height: 13px;opacity: 0.6; position:absolute; top:10px; right:10px" /></a>
                  </div>
                </div>

              </div>
            </li>
          </div>
        </ul>
          </div>
        <div class="textButton">
          <div class="macro" style="margin: auto">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label text-type">
                <input  spellcheck="true" autocomplete class="mdl-textfield__input" type="text" id="sample3" autofocus placeholder="Type a message or Tap the Mic" #txt (keyup.enter)="sendMessage(txt.value);txt.value='';" [(ngModel)]="speechData" autocomplete="off" style="color:black;" [ngModelOptions]="{standalone: true}">
              </div>

          </div>
          <div>
            <br>
            <div id="tt1" class="icon material-icons  text-mike" (click)="SpeechToText() ; sendMessage(txt.value); txt.value='' " data-toggle="tooltip" data-placement="bottom" title="Click to enable Mic" style="color:black;" >mic</div>
            <div class="mdl-tooltip" data-mdl-for="tt1">Enable Mic</div>
          </div>
        </div>
      </div>
    </div>
    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

  </body>

</html>
